<dl>
  <dt>カテゴリー</dt>
  <dd><%= link_to "音楽", "tags/music_list" %></dd>
  <dd><%= link_to "イベント", "" %></dd>
  <dd><%= link_to "旅行", "" %></dd>
</dl>

<h4>音楽の最新投稿</h4>

<h4>イベントの最新投稿</h4>

<h4>旅行の最新投稿</h4>